<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- 1. Add latest jQuery and fancyBox files -->

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/
jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
</head>
<body>

<!-- Код для примера -->

<% const menuItems = [
    {title: 'HAIRCARE', link: '#'},
    {title: 'COLOR', link: '#'},
    {title: 'STYLING', link: '#'},
    {title: 'TEXTURE', link: '#'},
    {title: 'GETINSPIRED', link: '#'},
    {title: 'SOCIAL', link: '#'},
    {title: 'NEWS', link: '#'},
    {title: 'ABOUT', link: '#'},
    {title: 'PROFESSIONAL', link: '#'}
    /* ... */
]; %>

<header class="header">
    <div class="header__top">
        <div class="nearest-salon">
            <h4 class="nearest-salon__info">NEAREST SALON <img src="img/svg/ico_dropdown.svg" class="nearest-salon__dropdown"> <br> Chaltyr,92101</h4>
        </div>
        <img src="img/menu.png" class="header__menu">
        <img src="img/svg/logo.svg" class="header__logo">
        <img src="img/svg/ico_search.svg" class="header__search">
    </div>

    <div class="header__bottom">
        <div class="menu header__nav">
            <% menuItems.forEach((item) => { %>
            <li class="menu__item"><a class="menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
            <% }) %>
            <div class="menu__nav">
                <p class="menu__txt">NEAREST SALONE <img src="img/svg/ico_dropdown.svg" class="menu__dropdown"> <br>
                    Plush Salon 92101</p>
            </div>
            <img src="img/svg/ico_search.svg" class="menu__search">
        </div>
    </div>
</header>

<div class="main">
    <div class="main__breadcrumb-search">
        <ul class="main__breadcrumb-search-item">
            <li class="main__search-item"><a href="" class="main__ref">HOME</a></li>
            <li class="main__search-item"><a href="" class="main__ref">/</a></li>
            <li class="main__search-item"><span class="main__linkup">VIDEOS<span></li>
        </ul>
    </div>

    <div class="main-content">
        <span class="main-content__item">VIDEOS</span>
        <div class="video">
            <img src="//img.youtube.com/vi/z8M0Fa1JVco/maxresdefault.jpg" class="video__images">
            <a data-fancybox href="https://www.youtube.com/watch?v=z8M0Fa1JVco"><span
                        class="video__link"> </span> </a>
            <span class="video__information">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis, nisl at ullamcorper egestas, felisadi piscing dolor, a interdum lorem urna quis magna.</span>
        </div>
    </div>

    <% const videoSecitons = [
        {
            title: 'STEP BY STEP ',
            previews: [
                'z8M0Fa1JVco',
                'Wi2KcdoCuo4',
                '8H6dYUgQKB8',
                'PZjGrmHdFME',
                '_wLGr24VeoI',
                'DG4FAU5qmMY'
            ]
        },
        {
            title: 'CRAFT EDUCATION',
            previews: [
                'RmNWNLXmswk',
                '-tztXOz8Vc0',
                'kUfIVtyydgQ'
            ]
        },

        {
            title: 'INSPIRATION',
            previews: [
                'VmmwwzR536g',
                'VQHjWtrsHyA',
                '6oPBFnsqJW8'
            ]
        }
    ]; %>

    <div class="videos">
        <% videoSecitons.forEach(section => { %>
        <section class="video-seciton">
            <h3 class="video-seciton__title"><%= section.title %></h3>
            <div class="slider responsive">
                <% var i = 1; section.previews.forEach((preview) => { %>
                <div class="video-seciton__list video-seciton__list_<%= i %> video-preview">
                    <a data-fancybox href="https://www.youtube.com/watch?v=<%= preview %>">
                        <img src="//img.youtube.com/vi/<%= preview %>/maxresdefault.jpg" class="video-preview__pic">
                        <span class="video-preview__play"></span>
                    </a>
                </div>
                <% i++; }); %>
            </div>
            <div class="button js-button">
                <a href="http://ya.ru"><p class="button__link">LOAD MORE</p></a>
            </div>


            <!-- так правильнее -->
            <!--<div class="button js-button">-->
                <!--<a href="#" class="button__link"><p class="button__text">LOAD MORE</p></a>-->
            <!--</div>-->

        </section>
        <% }); %>
    </div>

    <% const footerSecitons = [
        {
            previews: [
                'ico_facebook.svg',
                'ico_twitter.svg',
                'ico_pinterest.svg',
                'ico_youtube.svg',
                'ico_instagram.svg'
            ]
        }
    ]; %>
    <div class="footer">
        <% footerSecitons.forEach(section => { %>
        <div class="footer__content">
            <h2 class="footer__information">PRIVACY POLICY TERMS OF USE CONTACT US <br> NEWSLETTER SITEMAP</h2>
            <div class="footer__images">
                <% section.previews.forEach((preview) => { %>
                <img src="img/svg/<%= preview %>" class="footer__images-item">
                <% }); %>
            </div>
            <h2 class="footer__location">LACATION: UNITED STATES <br> LANGUAGE: ENGLISH</h2>
        </div>
        <% }); %>
    </div>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="js/js.js"></script>
    <script src="js/slick/slick.js" type="text/javascript"></script>


</body>
</html>